// Border
.no-bordered { border: none !important }

// Spacing
.no-margin { margin: 0 !important }
.no-padding { padding: 0 !important }

// Float
.pull-left { float: left }
.pull-right { float: right }
.clearfix {
  &::before { display: table }
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

// Display
.display-block { display: block }

// Flex
.flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
