<app-page-header [title]="title"></app-page-header>

<div class="page-content">
  <p-panel [showHeader]="false">
    <app-panel-loader [visible]="loading"></app-panel-loader>

    <form class="form form-horizontal form-cadastro" [formGroup]="form" [class.submitted]="formSubmitted" (ngSubmit)="save()">
      <p-fieldset legend="Informações Pessoais" styleClass="fieldset-informacoes-pessoais">
        <app-input-text label="Nome" [control]="form.get('nome')" inputId="nome" orientation="horizontal" [autoFocus]="true"
          [required]="true" [submitted]="formSubmitted"></app-input-text>
      </p-fieldset> <!--/.fieldset-informacoes-pessoais-->

      <p-fieldset legend="Dados de Acesso" styleClass="fieldset-dados-acesso">
        <app-input-text label="E-mail" type="email" [control]="form.get('email')" inputId="email" orientation="horizontal"
          [required]="true" [submitted]="formSubmitted"></app-input-text>

        <app-input-text label="Confirmação de E-mail" [control]="form.get('confirmacaoEmail')" inputId="confirmacao-email" orientation="horizontal"
          [required]="true" [submitted]="formSubmitted" [blockCopyPaste]="true"></app-input-text>

        <app-input-text label="Login" [control]="form.get('login')" inputId="login" orientation="horizontal"
          [required]="true" [submitted]="formSubmitted"></app-input-text>
      </p-fieldset> <!--/.fieldset-dados-acesso-->

      <p-fieldset legend="Grupos" styleClass="fieldset-grupos">
        <app-multi-select label="Grupos" [control]="form.get('grupos')" inputId="grupos" orientation="horizontal"
          [required]="true" [submitted]="formSubmitted" [options]="grupoOptions"></app-multi-select>
      </p-fieldset> <!--/.fieldset-grupos-->

      <app-input-switch label="Status" [control]="form.get('ativo')" inputId="ativo" orientation="horizontal"
        on="Ativo" off="Inativo"></app-input-switch>

      <div class="ui-g">
        <div class="ui-g-12 form-group-validacoes">
          <app-validation [control]="form" [submitted]="formSubmitted" mode="submitted"
            [messages]="validationMessages"></app-validation>
        </div>
      </div>

      <div class="ui-g form-group-botoes">
        <div class="ui-sm-12 ui-md-4 ui-md-offset-2">
          <button pButton type="submit" class="ui-button-success" icon="fa fa-save" label="Salvar"></button>
        </div>
      </div>
    </form>
  </p-panel>
</div> <!--/.page-content-->
