<div *ngIf="orientation === 'vertical'; else tplHorizontal" class="ui-g">
  <div class="ui-sm-12 ui-md-4 ui-lg-3">
    <div class="ui-g form-group-{{inputId}}">
      <label [for]="inputId" [ngClass]="{ 'ui-g-12 control-label': true, 'required': required }">{{label}}</label>
      <div class="ui-g-12">
        <ng-container *ngTemplateOutlet="tplInput"></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #tplHorizontal>
  <div class="ui-g form-group-{{inputId}}">
    <label [for]="inputId" [ngClass]="{ 'ui-sm-12 ui-md-2 control-label': true, 'required': required }">{{label}}</label>
    <div class="ui-sm-12 ui-md-4">
      <ng-container *ngTemplateOutlet="tplInput"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #tplInput>
  <p-spinner [id]="inputId" [name]="name || inputId" [max]="max" [min]="min" [step]="step" [size]="size"
    [formControl]="control" [appAutoFocus]="autoFocus" [appBlockCopyPaste]="blockCopyPaste"
    (blur)="blured.emit($event)" (change)="changed.emit($event)" (focus)="focused.emit($event)"></p-spinner>
  <app-validation *ngIf="validation" [control]="control" [submitted]="submitted"></app-validation>
</ng-template>
