<app-page-header [title]="title"></app-page-header>

<div class="page-content">
  <p-panel [showHeader]="false">
    <app-panel-loader [visible]="loading"></app-panel-loader>

    <form [formGroup]="form" (ngSubmit)="save()"
      [ngClass]="{ 'form form-horizontal form-cadastro': true, 'submitted': formSubmitted }">

      <p-fieldset legend="Informações Pessoais" styleClass="fieldset-informacoes-pessoais">
      <app-input-text label="Nome" [control]="form.get('nome')" inputId="nome" orientation="horizontal"
        [required]="true" [submitted]="formSubmitted" appAutoFocus appUpperCase>
      </app-input-text>
      <app-input-text label="CPF" [control]="form.get('cpf')" [brmasker]="{form: form.get('cpf'), mask: '000.000.000-00', len:14, type:'num'}"
        inputId="cpf" orientation="horizontal" maxlength=14 [required]="true" placeholder="000.000.000-00"
        [submitted]="formSubmitted" appAutoFocus>
      </app-input-text>
      </p-fieldset>

      <p-fieldset legend="Informações de Endereço" styleClass="fieldset-informacoes-endereco">
        <app-input-text label="CEP" [control]="form.get('endereco').get('cep')" [brmasker]="{form: form.get('endereco').get('cep'), mask: '00000-000', len:9, type:'num'}"
          inputId="cep" orientation="horizontal" maxlength=9 [required]="true" placeholder="00000-000"
          [submitted]="formSubmitted" appAutoFocus>
        </app-input-text>
        <app-dropdown label="Tipo de Logradouro" [control]="form.get('endereco').get('tipoLogradouro')" inputId="tipoLogradouro"
          orientation="horizontal" [submitted]="formSubmitted" [options]="logradourosOptions | orderBy: 'label':'asc'" [required]="true">
        </app-dropdown>
        <app-input-text label="Rua" [control]="form.get('endereco').get('rua')" inputId="rua" orientation="horizontal" maxlength=14 [required]="true"
          [submitted]="formSubmitted" appAutoFocus>
        </app-input-text>
        <app-input-text label="Número" [control]="form.get('endereco').get('numero')" inputId="numero" orientation="horizontal" maxlength=20 [required]="true"
          [submitted]="formSubmitted" appAutoFocus>
        </app-input-text>
        <app-input-text label="Complemento" [control]="form.get('endereco').get('complemento')" inputId="complemento" orientation="horizontal"
          [submitted]="formSubmitted" appAutoFocus>
        </app-input-text>
        <app-input-text label="Bairro" [control]="form.get('endereco').get('bairro')" inputId="bairro" orientation="horizontal" [required]="true"
          [submitted]="formSubmitted" appAutoFocus>
        </app-input-text>
        <app-dropdown label="UF" [control]="form.get('endereco').get('uf')" inputId="uf"
        orientation="horizontal" [submitted]="formSubmitted" [options]="ufsOptions | orderBy: 'label':'asc'" [required]="true">
      </app-dropdown>
        <app-dropdown label="Município" [control]="form.get('endereco').get('municipio')" inputId="municipio"
          orientation="horizontal" [submitted]="formSubmitted" [options]="municipiosOptions | orderBy: 'label':'asc'" [required]="true">
        </app-dropdown>
        <app-dropdown label="País" [control]="form.get('endereco').get('pais')" inputId="pais"
          orientation="horizontal" [submitted]="formSubmitted" [options]="paisesOptions | orderBy: 'label':'asc'" [required]="true">
        </app-dropdown>
        </p-fieldset>

      <app-input-switch label="Status" [control]="form.get('ativo')" inputId="ativo" orientation="horizontal"
        on="Ativo" off="Inativo"></app-input-switch>

      <div class="ui-g">
        <div class="ui-g-12 form-group-validacoes">
          <app-validation [control]="form" [submitted]="formSubmitted" mode="submitted"
            [messages]="validationMessages"></app-validation>
        </div>
      </div>

      <div class="ui-g form-group-botoes">
        <div class="ui-sm-12 ui-md-10 ui-md-offset-2">
          <button pButton type="button" class="ui-button-primary" icon="fa fa-arrow-left" label="Voltar" (click)="redirectToListing()"></button>
          <button pButton type="submit" class="ui-button-success" icon="fa fa-save" label="Salvar" [disabled]="form.untouched"></button>
        </div>
      </div>
      <!--.form-group-botoes-->
    </form>
  </p-panel>
</div>
<!--/.page-content-->
