body .ui-fieldset {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;

  .ui-fieldset-legend {
    font-size: 1em;
    font-weight: 600;
    width: auto;
    padding: 0;

    a {
      border: 1px solid #ddd;
      color: $color;
      margin: 0 -4px;
      padding: 0 5px;
    }
  }

  &.legend-no-bordered .ui-fieldset-legend {
    border: none;
    margin: 0;
    padding: 0;
  }
}
