@mixin border-form-control() {
  border: 1px solid #e5e6e7;
  border-radius: 1px;
}

body form {
  &.form {
    .control-label {
      &.required {
        &::after {
          color: #a00;
          content: '*';
          margin-left: .2em;
        }
      }
    }
  }

  &.form-horizontal {
    @media screen and (min-width: 641px) {
      .control-label {
        padding-top: 1.2em;
        text-align: right;

        &.required {
          &::after {
            content: '';
            margin-left: 0;
          }

          &::before {
            color: #a00;
            content: '*';
            margin-right: .2em;
          }
        }
      }
    }
  }

  .control-label {
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .form-control {
    display: block;
    width: 100% !important;

    &:focus { box-shadow: 0 0 0.2em #80bdff }
  }

  // Spinner
  .ui-spinner,
  .ui-spinner-input {
    width: 100%;
  }

  // InputText
  .ui-inputtext {
    @include border-form-control();
  }

  // Dropdown
  .ui-dropdown {
    @include border-form-control();
    line-height: 1.25;

    .ui-dropdown-label { padding: .3em 0 }

    &.ui-state-focus {
      .ui-dropdown-label { background-color: transparent }
    }

    .ui-dropdown.items {
      .ui-dropdown.item { padding: .6em }
    }
  }

  // MultiSelect
  .ui-multiselect {
    @include border-form-control();
    line-height: 1.25;

    .ui-multiselect-label {
      margin-bottom: 0;
      padding: .25em 0;
    }

    .ui-multiselect-header {
      .ui-multiselect-filter-container {
        width: 93%;

        .ui-inputtext { padding: .5em .5em .5em 1.3em }
        .ui-multiselect-filter-icon { top: .6em }
      }

      .ui-multiselect-close { top: 1em }
    }

    .ui-multiselect-item {
      cursor: pointer;
      padding: .6em;

      label {
        cursor: pointer;
        margin-bottom: 0;
      }
    }
  }

  // InputSwitch
  .ui-inputswitch {
    background-color: transparent;
    margin-top: .5em;

    &.ui-inputswitch-checked {
      .ui-inputswitch-slider { background-color: #007ad9 }
    }

    .ui-inputswitch-slider {
      background: #cccccc;
      border-radius: 30px;
      transition: background-color 0.2s;

      &::before {
        background-color: #fff;
        transition: .3s;
      }
    }
  }
  .ui-inputswitch-label {
    font-weight: 600;
    margin-left: .2em;
    padding: .3em;
    position: relative;
    top: -6px;
  }

  // Checkbox
  .ui-chkbox {
    @at-root .ui-chkbox-label {
      cursor: pointer;
      font-weight: 600;
      margin: 0;
      padding: .2em 0;
    }
  }

  // Input Group
  .ui-inputgroup {
    .ui-button {
      width: 2.8em;

      &:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }

      &:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }

  // Calendar
  .ui-calendar {
    .ui-inputtext {
      font-size: $fontSize;
      height: inherit;
      width: calc(100% - 35px);
    }

    &.form-control {
      border: none;
      padding: 0;
    }

    .ui-calendar-button {
      height: inherit;
      width: 35px;
    }

    .ui-datepicker {
      display: block;
      font-size: .9em;

      .ui-datepicker-header {
        padding: .5em 0;

        .ui-datepicker-prev,
        .ui-datepicker-next { top: .9em }

        .ui-datepicker-title {
          font-weight: 600;

          select.ui-datepicker-month,
          select.ui-datepicker-year {
            background-color: #fff;
            border: 1px solid #ccc;
            cursor: pointer;
            padding: .1em;
          }
        }
      }

      table.ui-datepicker-calendar {
        margin: .4em 0;

        th { padding: .3em }
        td { cursor: pointer }
      }
    }
  }

  .ui-float-label { margin-bottom: .5rem }

  .data-loading {
    display: block;
    padding-top: .4em;
  }

  .submitted .ng-invalid,
  .ng-touched.ng-invalid { border-bottom-color: #e13131 }

  .ui-message {
    background-color: transparent;
    display: block;
    font-size: .8em;
    border: none;
    margin: 0;
    padding: 2px 0 2px 3px;

    &:first-of-type { margin-top: .25em }

    &.ui-message-error {
      background-color: inherit;
      border-left: 3px solid $validationColorError;
      color: $validationColorError;
    }
  }
}
