<div *ngIf="orientation === 'vertical'; else tplHorizontal" class="ui-g">
  <div class="ui-sm-12 ui-md-4 ui-lg-3">
    <div class="ui-g form-group-{{inputId}}">
      <label [for]="inputId" [ngClass]="{ 'ui-g-12 control-label': true, 'required': required }">{{label}}</label>
      <div class="ui-g-12">
        <ng-container *ngTemplateOutlet="tplInput"></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #tplHorizontal>
  <div class="ui-g form-group-{{inputId}}">
    <label [for]="inputId" [ngClass]="{ 'ui-sm-12 ui-md-2 control-label': true, 'required': required }">{{label}}</label>
    <div class="ui-sm-12 ui-md-4">
      <ng-container *ngTemplateOutlet="tplInput"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #tplInput>
  <ng-container *ngIf="!showViewButton; else tplViewButton">
    <ng-container *ngTemplateOutlet="tplPassword; context: { type: 'password' }"></ng-container>
  </ng-container>
  <ng-template #tplViewButton>
    <div class="ui-inputgroup">
      <ng-container *ngTemplateOutlet="tplPassword; context: { type: showPassword ? 'text' : 'password' }"></ng-container>
      <button pButton type="button" class="ui-button-secondary" [icon]="!showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"
        [pTooltip]="!showPassword ? 'Exibir senha' : 'Ocultar senha'" tooltipPosition="top"
        (click)="showPassword = !showPassword"></button>
    </div>
  </ng-template>
  <app-validation *ngIf="validation" [control]="control" [submitted]="submitted"></app-validation>
</ng-template>

<ng-template #tplPassword let-type="type">
  <input pPassword [type]="type" [id]="inputId" [name]="name || inputId" class="form-control"
    [formControl]="control" [appAutoFocus]="autoFocus" [appBlockCopyPaste]="blockCopyPaste"
    [feedback]="feedback" [promptLabel]="promptLabel" weakLabel="Senha fraca" mediumLabel="Senha média" strongLabel="Senha forte"
    (blur)="blured.emit($event)" (change)="changed.emit($event)" (click)="clicked.emit($event)" (focus)="focused.emit($event)">
</ng-template>
