$borderLeftActiveMenu: 4px solid #19aa8d;

#app-sidebar {
  background-color: $sidebarBackgroundColor;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
  font-size: .9em;
  height: calc(100% - 60px);
  left: -250px;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  top: 60px;
  transition: all 0.5s ease;
  width: 250px;
  z-index: 999;

  &.active { left: 0 }

  .header-profile {
    background-color: $sidebarBackgroundColor;
    background-image: url('assets/image/background-header-profile.png');
    color: #fff;
    padding: 1em;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .ui-panelmenu-panel {
    border: none;
    font-weight: 600;

    .ui-panelmenu-header {
      background-color: transparent;

      .ui-panelmenu-header-link {
        background-color: transparent;
        border: none;
        padding: .9em .75em;

        span { color: $sidebarColorLink }

        &.ui-state-active { border-left: $borderLeftActiveMenu }

        &:hover span { color: #fff }
      }

      &.ui-state-active {
        .ui-panelmenu-header-link,
        + .ui-panelmenu-content-wrapper { border-left: $borderLeftActiveMenu }

        + .ui-panelmenu-content-wrapper {
          background-color: $sidebarBackgroundColorActive;
          padding-bottom: .8em;
        }

        span { color: $sidebarColorLinkActive }
      }
    }

    .ui-panelmenu-content {
      background-color: transparent;
      margin-bottom: 0;
      padding: 0;

      .ui-menu-list { padding-bottom: 10px }

      .ui-menuitem {
        margin: 0;

        .ui-menuitem-link {
          padding: .6em 0 .6em 2em;

          span { color: $sidebarColorLink }

          &:hover { background-color: #293846 }

          &:hover span,
          &.ui-state-active span { color: $sidebarColorLinkActive }
        }
      }

      .ui-submenu-list { font-weight: normal }
    }

    .ui-panelmenu-icon { margin-right: .5em }

    .ui-state-active {
      background-color: $sidebarBackgroundColorActive;
      color: $sidebarColorLinkActive;
    }

    .ui-panelmenu-content-wrapper .ui-widget-content { border: none }
  }
}
