<app-page-header [title]="title"></app-page-header>

<div class="page-content">
  <p-panel [showHeader]="false">
    <app-panel-loader [visible]="loading"></app-panel-loader>

    <form class="form form-filtros" (ngSubmit)="list()">
      <p-fieldset legend="Opções de Filtro" [toggleable]="true">
        <div class="ui-g">

          <div class="ui-sm-12 ui-md-4 ui-lg-3 form-group-cpf">
            <label for="cpf" class="control-label">CPF</label>
            <input pInputText type="text" id="cpf" class="form-control" name="cpf" [(ngModel)]="filter.cpf"
            [brmasker]="{mask: '000.000.000-00', len:14, type:'num'}" appAutoFocus>
          </div>

          <div class="ui-sm-12 ui-md-4 ui-lg-3 form-group-nome">
            <label for="nome" class="control-label">Nome</label>
            <input pInputText type="text" id="nome" class="form-control" name="nome" [(ngModel)]="filter.nome" appAutoFocus>
          </div>

          <div class="ui-sm-12 ui-md-4 ui-lg-3 form-group-status">
            <label for="status" class="control-label">Status</label>
            <p-dropdown styleClass="form-control" inputId="status" name="status" [(ngModel)]="filter.ativo" [options]="statusFilterOptions" [filter]="true"></p-dropdown>
          </div>

          <div class="ui-sm-12 ui-md-4 ui-lg-3 form-group-registros">
            <label for="size" class="control-label">Qtd. de Registros</label>
            <p-dropdown styleClass="form-control" inputId="size" name="size" [(ngModel)]="filter.size"
              [options]="sizeFilterOptions" [filter]="true"></p-dropdown>
          </div>
        </div>

        <div class="ui-g">
          <div class="ui-g-12 form-group-botoes">
            <button pButton type="submit" icon="fa fa-list" label="Listar"></button>
            <button pButton type="button" class="ui-button-secondary" icon="fa fa-eraser" label="Limpar" (click)="resetFilter()"></button>
          </div>
        </div>
      </p-fieldset>
    </form>

    <p-table #table *ngIf="listInitialized" [value]="registerList" dataKey="id" [responsive]="true" [autoLayout]="true"
      [loading]="loadingDataTable" loadingIcon="fa fa-spinner" [resizableColumns]="true"
      [paginator]="registerList && registerList.length" [rows]="rows" [totalRecords]="totalRecords"
      [lazy]="true" (onLazyLoad)="changePage($event)"
      sortMode="multiple" (onSort)="changeSort($event.multisortmeta)">

      <ng-template pTemplate="summary">
        <div *ngIf="registerList && registerList.length" class="clearfix">
          {{footer}}
        </div>
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td colspan="9" class="emptymessage">Nenhum registro encontrado</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 2.25em"></th>
          <th pResizableColumn>
            Nome
          </th>
          <th pResizableColumn>
            CPF
          </th>
          <th pResizableColumn>
            Data de Cadastro
          </th>
          <th style="width: 100px">
            Status <ng-container *ngTemplateOutlet="tplHeaderTooltipStatus"></ng-container>
          </th>
          <th style="width: 80px">
            Ações
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-expanded="expanded">
        <tr>
          <td>
            <a href="#" class="btn-row-toggler" [pRowToggler]="rowData" (click)="find(rowData.id, expanded)">
              <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
            </a>
          </td>
          <td>
            <span class="ui-column-title">Nome</span>
            {{rowData.nome}}
          </td>
          <td>
            <span class="ui-column-title">Login</span>
            {{rowData.cpf}}
          </td>
          <td>
            <span class="ui-column-title">Login</span>
            {{rowData.dataCadastro}}
          </td>
          <td class="text-center">
            <span class="ui-column-title">Status</span>
            <button pButton appTag [tagValue]="rowData.ativo" [tagSuccess]="true" [tagDanger]="false" class="btn-status"
              [label]="rowData.ativo | status" [pTooltip]="rowData.ativo | status:'Desativar':'Ativar'" tooltipPosition="top"
              (click)="confirmChangeStatus(rowData)">
            </button>
          </td>
          <td class="text-center">
            <span class="ui-column-title">Ações</span>
            <a pButton class="ui-button-link btn-action btn-editar" icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top"
              [routerLink]="getEditarRouterLink(rowData.id)"></a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div> <!--/.page-content-->

<ng-template #tplNoData>--</ng-template>

<ng-template #tplHeaderTooltipStatus>
  <i class="fa fa-question-circle"
    pTooltip="Clique no status para ativar/desativar o registro" tooltipPosition="top"></i>
</ng-template>
