<div *ngIf="orientation === 'vertical'; else tplHorizontal" class="ui-g">
  <div class="ui-sm-12 ui-md-4 ui-lg-3">
    <div class="ui-g form-group-{{inputId}}">
      <label [for]="inputId" [ngClass]="{ 'ui-g-12 control-label': true, 'required': required }">{{label}}</label>
      <div class="ui-g-12">
        <ng-container *ngTemplateOutlet="tplInput"></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #tplHorizontal>
  <div class="ui-g form-group-{{inputId}}">
    <label [for]="inputId" [ngClass]="{ 'ui-sm-12 ui-md-2 control-label': true, 'required': required }">{{label}}</label>
    <div class="ui-sm-12 ui-md-4">
      <ng-container *ngTemplateOutlet="tplInput"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #tplInput>
  <p-multiSelect *ngIf="options && options.length; else loadingOptions" [inputId]="inputId" [name]="name || inputId" styleClass="form-control"
    [formControl]="control" [appAutoFocus]="autoFocus"
    [options]="options" [filter]="true" [resetFilterOnHide]="true"
    selectedItemsLabel="{0} opções selecionadas" defaultLabel="--"
    (onBlur)="blured.emit($event)" (onChange)="changed.emit($event)" (onFocus)="focused.emit($event)"
    (onPanelHide)="panelHided.emit($event)" (onPanelShow)="panelShowed.emit($event)"></p-multiSelect>
  <ng-template #loadingOptions>
    <span class="data-loading">{{ !options ? 'Carregando opções...' : 'Nenhuma opção encontrada' }}</span>
  </ng-template>
  <app-validation *ngIf="validation" [control]="control" [submitted]="submitted"></app-validation>
</ng-template>
